.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/pngtree-website-elegant-style-background-picture-image_2443512.jpg');
    z-index: -1; /* 背景として配置 */
    opacity: 0.5;
}
.card {
    width: 100%;
    text-align: center;
}
.card p {
    font-weight: bold;
    font-size: 200%;
}
.in {
    color: red;
}
.out {
    color: blue;
}
h1 {
    opacity: 1.0;
    width: 100%;
    text-align: center;
}

.modal {
    opacity: 1.0;
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面に固定 */
    z-index: 1; /* 他の要素より手前に表示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 内容が多い場合にスクロール可能にする */
    background-color: rgba(0, 0, 0, 0.7); /* 背景を暗くする */
    justify-content: center; /* 中央寄せ用 */
    align-items: center; /* 中央寄せ用 */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto auto auto; /* top=10% */
    padding: 30px;
    border: 1px solid #888;
    width: 80%; /* 幅の調整 */
    max-width: 500px; /* 最大幅 */
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0.7,0.7,0.7,0.1);
}